<div class="shpe-gpt-page">
  <div class="shpe-gpt-page__header">
    <app-linkedin-bar></app-linkedin-bar>
    <app-shpe-toolbar></app-shpe-toolbar>
  </div>
  <div class="shpe-gpt-page__body">
    <div class="shpe-gpt-page__body__message-box">
      <app-shpe-gpt-message-box
        [messages]="messages"
      ></app-shpe-gpt-message-box>
    </div>
    <div class="shpe-gpt-page__body__input-box">
      <app-shpe-gpt-input-box
        [isLoading]="isLoading"
        (onMessageSend)="onMessageSend($event)"
      ></app-shpe-gpt-input-box>
    </div>
  </div>
</div>
